<html>
    <head>
        <title>Create an Employee</title>
    </head>
    <body>
        <form action="/insert/emp/" method="post">
            <label for="empno">Empno:</label>
            <input type="text" id="empno" name="empno" value=""><br><br>
            <label for="ename">Name:</label>
            <input type="text" id="ename" name="ename" value=""><br><br>
            <label for="job">Job:</label>
            <input type="text" id="job" name="job" value=""><br><br>
            <label for="mgr">Manager:</label>
            <input type="text" id="mgr" name="mgr" value=""><br><br>
            <label for="sal">Salary:</label>
            <input type="text" id="sal" name="sal" value=""><br><br>
            <label for="deptno">Dept no:</label>
            <input type="text" id="deptno" name="deptno" value=""><br><br>
            <input type="submit" value="Create">
          </form>        
    </body>
</html>